.list-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card {
    padding: 1rem;
    border: 1px solid #ffffff;
    border-radius: 0.25rem;
    cursor: pointer;
}

    .card:hover {
        color: #84caff;
        border-color: #84caff;
    }

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}