@page "/conferences"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

@if (_isLoading)
{
    <MudProgressCircular></MudProgressCircular>
}
else if (_conferences.Count > 0)
{
    <div class="list-container">
        <Virtualize Items="_conferences" Context="conf">
            <div class="card" onclick="@(() => OpenDetails(conf.ID))">
                <span class="title">@conf.Title</span>
            </div>
        </Virtualize>
    </div>
}
else
{
    <MudAlert Severity="Severity.Info">Es wurden keine Konferenzen gefunden.</MudAlert>
}
